<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-pink border-bottom box-shadow mb-3 py-4">
    <div class="container">
      <div class="logo-image align-middle">
        <img src="../../assets/images/BabyGirl.png" class="img-fluid logo rounded mx-auto d-block">
      </div>
      <a class="navbar-brand" [routerLink]="['/']" style="font-family: orange-juice; font-size:40px; ">Rebecca Carletti</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" [routerLink]="['/counter']" [routerLinkActive]="['active']">Counter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/fetch-data']" [routerLinkActive]="['active']">Fetch data</a>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
