<div class="myDiv d-flex align-items-center justify-content-center">
  <div class="bg"></div>
  <div class="container">

    <div class="row">
      <div class="d-flex justify-content-center">
        <h4 style="text-align: center; font-family: orange-juice;">Alla nascita di Rebecca, mancano circa</h4>
      </div>
    </div>
    <div class="row">
      <div class=" d-flex justify-content-center">
        <h1 style="font-family: orange-juice; font-size: 60px;">{{_days}} giorni</h1>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-center" >
        <h3 style="font-family: orange-juice; font-size: 33px;">{{_hours}} ore {{_minutes}} minuti {{_seconds}} secondi</h3>
      </div>
    </div>
  </div>


</div>
<div class="border border-light p-3 mb-4">



</div>
