<div class="myDiv d-flex align-items-center justify-content-center">
  <div class="bg"></div>
  <div class="container">

    <div class="row">
      <div class="d-flex justify-content-center">
        <h4 style="text-align: center; font-family: orange-juice; font-size: 40px; ">Il dottore dice che arriverò il</h4>
      </div>
    </div>
    <div class="row">
      <div class=" d-flex justify-content-center">
        <h1 style="font-family: orange-juice; font-size: 60px;">16/06/2022</h1>
      </div>
    </div>
    
  </div>
</div>
